[package]
name = "near-rpc-services"
version = "0.1.0"
authors = ["boneyard93501 <4523011+boneyard93501@users.noreply.github.com>"]
edition = "2018"
description = "near-services, a Marine wasi module"
license = "Apache-2.0"

[[bin]]
name = "near_rpc_services"
path = "src/main.rs"

[dependencies]
marine-rs-sdk = { version = "0.7.1", features = ["logger"] }
log = "0.4.14"
serde = { version = "1.0.132", default-features = false }
serde_json = { version = "1.0.73", default-features = false }

[dev-dependencies]
marine-rs-sdk-test = "0.8.1"

[dev]
[profile.release]
opt-level = "s"
